@model Vitastic.Web.Infrastructure.ApiClient.PaginatedData<Vitastic.Web.Models.DTOs.Wallet.WalletDto>?

@if (TempData["ErrorMessage"] != null || Model is null)
{
  <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
else
{
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="jobs-tab-pane" role="tabpanel" aria-labelledby="jobs-tab" tabindex="0">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive active-projects style-1">
            <div id="empoloyees-tblwrapper_wrapper" class="dataTables_wrapper no-footer">
              <table id="empoloyees-tblwrapper" class="table dataTable no-footer"
                     aria-describedby="empoloyees-tblwrapper_info">
                <thead>
                  <tr>
                    <th class="sorting sorting_asc " tabindex="0" aria-controls="empoloyees-tblwrapper"
                        rowspan="1" colspan="1" aria-sort="ascending"
                        aria-label="نام کاربر: activate to sort column descending"
                        style="width: 143.413px; text-align:start;">
                      نام کاربر
                    </th>
                    <th class="sorting sorting_asc " tabindex="0" aria-controls="empoloyees-tblwrapper"
                        rowspan="1" colspan="1" aria-sort="ascending"
                        aria-label="موجودی کیف پول: activate to sort column descending"
                        style="width: 143.413px; text-align:start;">
                      موجودی کیف پول
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="empoloyees-tblwrapper" rowspan="1"
                        colspan="1" aria-label="تاریخ ایجاد کیف : activate to sort column ascending"
                        style="width: 97.5625px; text-align:start;">
                      تاریخ ایجاد کیف 
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="empoloyees-tblwrapper" rowspan="1"
                        colspan="1" aria-label="وضعیت: activate to sort column ascending"
                        style="width: 103.875px; text-align:start;">
                      وضعیت
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="empoloyees-tblwrapper" rowspan="1"
                        colspan="1" aria-label="اقدامات: activate to sort column ascending"
                        style="width: 146.312px; text-align:start;">
                      اقدامات
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @foreach (var wallet in Model!.Items)
                  {
                    <tr class="odd">
                      <td>@(wallet.UserFullName)</td>
                      <td class="text-black sorting_1">@wallet.Balance.ToString("##,###") @(wallet.Balance == decimal.Zero ? "0" : "تومان")</td>
                      <td class="text-black sorting_1">@wallet.CreatedAt.ToString("d")</td>
                      <td class="text-black sorting_1">@(wallet.IsActive ?"فعال" : "غیره فعال")</td>
                      <td>
                        <a onclick="showWalletTransactions('@wallet.UserId')" href="javascript:void(0);"
                           class="btn btn-primary light btn-sharp">
                          <svg class="icon-box icon-box-xs bg-primary-light" width="8" height="8" viewBox="0 0 16 16"
                               fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.16492 13.6286H14" stroke="#0D99FF" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M8.52001 2.52986C9.0371 1.91186 9.96666 1.82124 10.5975 2.32782C10.6324 2.35531 11.753 3.22586 11.753 3.22586C12.446 3.64479 12.6613 4.5354 12.2329 5.21506C12.2102 5.25146 5.87463 13.1763 5.87463 13.1763C5.66385 13.4393 5.34389 13.5945 5.00194 13.5982L2.57569 13.6287L2.02902 11.3149C1.95244 10.9895 2.02902 10.6478 2.2398 10.3849L8.52001 2.52986Z"
                                  stroke="#0D99FF" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.34723 4.00059L10.9821 6.79201" stroke="#0D99FF" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                          </svg>

                        </a>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mainModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="mainModalContent">
        <!-- replace with partial view -->
      </div>
    </div>
  </div>
}

@section AdditionalScript
{

     <script>
    function showWalletTransactions(userId) {
      console.log(`در حال دریافت جزئیات برای کیف پول: ${userId}`);

      $('#mainModalContent').html('<div class="modal-body text-center p-4">در حال بارگذاری...</div>');
      $('#mainModal').modal('show');

      $.ajax({
        url: `/admin/UserWalletsManager/Details/${userId}`,
        type: "GET",
        success: function (html) {
          console.log("دریافت اطلاعات با موفقیت انجام شد.");
          $('#mainModalContent').html(html);

        },
        error: function (xhr, status, error) {
          console.error("خطا در ایجکس:", error);
          $('#mainModalContent').html('<div class="modal-body text-danger">خطایی در دریافت اطلاعات رخ داده است.</div>');
        }
      });
    }

  </script>
}
